<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title><%= title %></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Font Awesome for the icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/styles1.css">
  </head>
  <body>
    <% include menu %>    
    <div class="container">
      <h1><%= title %></h1>
      <h2>Approve this client?</h2>
      <% if (client['client_name']) { %>
      <p><b>Name:</b> <code><%= client['client_name'] %></code></p>
      <% } %>
      <p><b>ID:</b> <code><%= client['client_id'] %></code></p>        
      <p><b>URI(s):</b> <code><%= client['redirect_uris'] %></code></p>
      <% if (client['logo_uri']) { %>
        <p><b>Logo:</b> <img src="<%= client['logo_uri'] %>" class="img-thumbnail"></p>
      <% } %>

      <form action="/approve" method="POST">
        <input type="hidden" name="reqId" value="<%= reqId %>">
        <% if (reqScope) { %>
          <p>The client is requesting access to the following:</p>
          <ul>
            <% reqScope.forEach(requestedScope => { %>
              <li><input type="checkbox" name="scope_<%= requestedScope %>" id="scope_<%= requestedScope %>" checked> <label for="scope_<%= requestedScope %>"><%= requestedScope %></label></li>
            <% }); %>
          </ul>
        <% } %>
        <button type="submit" class="btn btn-success" name="approve" value="Approve">Approve</button>
        <button type="submit" class="btn btn-danger" name="deny" value="Deny">Deny</button>
      </form>


    <!--JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
